<% layout('layouts/boilerplate') -%>

<body>
    <div class="row col-8 offset-2 mt-3">
    <h3>Update Your Listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title: </label>
            <input id="title" class="form-control" type="text" name="listing[title]" placeholder="Title" value="<%= listing.title %>">
        </div>
       <div class="mb-3">
         <label for="description" class="form-label">Description: </label>
        <textarea class="form-control" name="listing[description]" id="description" placeholder="Description" rows="6" cols="40"><%= listing.description %></textarea>
       </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image Url: </label>
        <input id="image" class="form-control" type="text" name="listing[image]" placeholder="Image URL" value="<%= listing.image %>">
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price: </label>
            <input id="price" class="form-control" type="number" name="listing[price]" placeholder="Price" value="<%= listing.price %>">
        </div>
        <div class="mb-3 col-md-4">
            <label for="location" class="form-label">Location: </label>
            <input id="location" class="form-control" type="text" name="listing[location]" placeholder="Location" value="<%= listing.location %>">
        </div>
        <div class="mb-3 col-md-4">
            <label for="country" class="form-label">Country: </label>
        <input id="country" class="form-control" type="text" name="listing[country]" placeholder="Country" value="<%= listing.country %>">
        </div>
        </div>
        <div class="mb-3 form-check">
            <input required="required" type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button class="btn btn-dark mt-3">Update Listing</button>
    </form>
    </div>
    </div>
</body>
</html>