<% layout('layouts/boilerplate') -%>

    <div class="row offset-3 mt-3">
        <h3 class="card-title">
            <%= listing.title %>
        </h3>
        <div class="card col-8">
            <img src="<%= listing.image %>" class="card-img show-img" alt="listing_image">
            <div class="card-body">
                <p>Description: <%= listing.description %>
                </p>
                <ul>
                    <li>Price: &#8377 <%= listing.price.toLocaleString("en-in") %>
                    </li>
                    <li>Location: <%= listing.location %>
                    </li>
                    <li>Country: <%= listing.country %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 mb-5">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-4">Edit Listing</a>
            <a href="/listings" class="btn btn-dark col-4">Back to Listing</a>
            <div class="offset-2">
                <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                    <button class="btn btn-dark btn-1del mt-2 col-4">Delete Listing</button>
                </form>
            </div>
        </div>

        <div class="col-8 offset-0 mb-5">
            <hr/>
            <h4>Leave a Review</h4>
            <form action="/listings/<%= listing._id %>/reviews" method="post">
                <div class="mt-3">
                    <label for="rating" class="form-label">Rating :</label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
                </div>
                <div class="mt-3">
                    <label for="comment" class="form-label">Comments :</label>
                    <textarea name="review[comment]" id="comment" cols="20" rows="5" class="form-control"></textarea>
                </div>
                <button class="btn btn-dark btn-1del mt-3 col-4 offset-4">Submit</button>
            </form>
        </div>

    </div>